* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 150px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-size: 20px;
}


span {
    color: #003cff;
    font-weight: bold;
}

@media (max-width:358px) {
    .container {
        display: flex;
        align-items: center;
        text-align: center;
    }
}